<h2>プロフィールページ</h2>

<%= form_for @user ,url: {action: :update} do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, value: @user.name %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday, {start_year: 1950, end_year: 2000}, value: @user.birthday %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, User.genders.keys.to_a, {}, value: @user.gender %>
  </div>

  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school, value: @user.school %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
