<table>
  <tr>
    <th>面接開始時間</th>
    <th>承認状態</th>
    <th></th>
    <th></th>
  </tr>

  <% @interviews.each do |interview| %>
    <tr>
      <td><%= interview.datetime_print %></td>
      <td><%= interview.status %></td>
      <td><%= link_to("編集", "/users/#{current_user.id}/interviews/#{interview.id}/edit") %></td>
      <td><%= link_to("削除", "/users/#{current_user.id}/interviews/#{interview.id}", method: :delete) %></td>
    </br>
    </tr>
  <% end %>

</table>

</br>
<%= form_tag(controller: :interviews, action: :request_mail, method: :post) do %>
  <%= select_tag :email, options_for_select(User.where.not(id: params[:user_id]).map{|user| [user.email]}) %>
  <%= submit_tag "申請" %>
<% end %>

<%= link_to("新規面接作成", "/users/#{current_user.id}/interviews/new") %>
